appdirs==1.4.3
Archey3==0.4
certifi==2017.7.27.1
chardet==3.0.4
clang==4.0.post1
click==6.7
coverage==4.4.1
ctypeslib2==2.1.5
cycler==0.10.0
decorator==4.1.2
Flask==0.12.2
Flask-WTF==0.14.2
idna==2.5
ipykernel==4.5.2
ipython==6.2.1
ipython-genutils==0.1.0
ipywidgets==6.0.0
itsdangerous==0.24
Jinja2==2.9.6
jsonschema==2.6.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
MarkupSafe==1.0
matplotlib==2.1.0
mistune==0.7.4
mpmath==0.19
nbformat==4.4.0
notebook==5.0.0
numpy==1.13.3
packaging==16.8
pandas==0.19.2
pexpect==4.2.1
pickleshare==0.7.4
plotly==2.0.13
prompt-toolkit==1.0.15
ptyprocess==0.5.2
py3status==3.4
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
pyxdg==0.25
pyzmq==16.0.2
requests==2.18.3
scipy==0.19.1
seaborn==0.7.1
simplegeneric==0.8.1
six==1.11.0
sympy==1.0
terminado==0.6
tornado==4.5.2
traitlets==4.3.2
UNKNOWN==0.0.0
urllib3==1.22
wcwidth==0.1.7
Werkzeug==0.12.2
widgetsnbextension==2.0.0
WTForms==2.1
-e git+https://github.com/pwexler/xml2py.git@4c6973f9647454d65eafb413d65b87b4d06bd81e#egg=xml2py
