/*album-indiv.css --- 
;; 
;; Filename: album-indiv.css
;; Description: 
;; 
;; Author:    Yu Lu
;; Email:     yulu@utexas.edu
;; Github:    https://github.com/SuperYuLu 
;; 
;; Created: Thu Nov  9 01:52:15 2017 (-0600)
;; Version: 
;; Last-Updated: Thu Nov  9 19:42:45 2017 (-0600)
;;           By: yulu
;;     Update #: 79
;; 
*/

h1 {
    display: block;
    margin: 5% 5%;
    font-size: 2em;
    left:50%;
}


.left-col{
    float:left;
    width: 40%;
    text-align: left;
    border-right: 0.2em solid #D0D0D0;
    padding-right: 20%;
    margin-bottom: 10%;
    
}


.image-area{
    margin: 10% 50%;
}

.data-area{
    margin: 10% 50%;
    width: 100%;
}

.track-list{
    float: left;
    text-align: left;
    margin-left: 10%;
}



table.list{
    width: 90%;
    float: left;
    text-align: left;
}

footer{
    margin: 10% 0 0; 
    clear: both;
}
