/*artist-indiv.css --- 
;; 
;; Filename: artist-indiv.css
;; Description: 
;; 
;; Author:    Yu Lu
;; Email:     yulu@utexas.edu
;; Github:    https://github.com/SuperYuLu 
;; 
;; Created: Thu Nov  9 01:30:35 2017 (-0600)
;; Version: 
;; Last-Updated: Thu Nov  9 02:12:29 2017 (-0600)
;;           By: yulu
;;     Update #: 44
;; 
*/

.info-area{
    float: left;
    width: 40%;
    left: 50%;
    text-align: right;
    font-size: 2em;
    
    
}

.image-area{
    width: 40%;
    margin: auto;
    margin-top: 5%;
}

.data-area{
    width: 40%;
    float: right;
    border-left: 0.2em solid #D0D0D0;
    padding-left: 4em;
    text-align: left;
}
.bio-area{
    clear: both;
    position: relative;
    width: 80%;
    left: 50%;
    transform: translate(-50%, 10%);
}
