/*artist-indiv.css --- 
;; 
;; Filename: artist-indiv.css
;; Description: 
;; 
;; Author:    Yu Lu
;; Email:     yulu@utexas.edu
;; Github:    https://github.com/SuperYuLu 
;; 
;; Created: Thu Nov  9 01:30:35 2017 (-0600)
;; Version: 
;; Last-Updated: Thu Nov  9 19:37:05 2017 (-0600)
;;           By: yulu
;;     Update #: 88
;; 
*/

.info-area{
    margin: 10% 5%;
    text-align: left;
    font-size: 2em;
    
    
}

.info-area h1{
    display: block;
    width: 30%;
    float: left;
    margin-left: 10%;
    margin-top: 0;
    height: 20%;
    
}

.image-area{
    float: right;
    width: 40%;
    height: 20%;
    margin-right: 10%;
    margin-top: 0;
}

.image-area img{
    float:left;
    top:-10%;
}


.data-area{
    width: 80%;
    clear: both;    
}

.data1{
    width: 40%;
    float: left;
    text-align: right;
    margin-top: 9%;
}

.data2{
    width: 40%;
    float: right;
    text-align: left;
    margin-top: 5%;
}

.bio-area{
    clear: both;
    position: relative;
    width: 80%;
    left: 50%;
    transform: translate(-50%, 10%);
}
