.footer-container{
    position:absolute;
    width: 100vw;
    height: auto;
    color: #818181;
    background: #E8E8E8;
    font-size: 0.8em;
}


footer
p,
li{
    margin: 0 30%;
}

footer p{
    display: inline-block;
    font-weight: 600;
    border-bottom: 0.2em solid silver;
    margin-bottom: 1%;
}
footer li{
    display: inline-block;
}

footer a, a:visited{
    color: gray;
}
    
    
.site-map, .contributors{
    box-sizing: border-box;
    width: 50%;
    height: auto;
    float: left;
    margin: 2% 0 0;
}


.site-info, .source-code{
    box-sizing: border-box;
    float: left;
    width: 50%;
    height: auto;
    margin: 1% 0;
}

.source-code img{
    display: inline;
    width: 10%;
    height: auto;
}

.source-code img:hover{
    transform: scale(1.2);
}
