.navigation{
    position: absolute;
    width: 100vw;
    height: 10vh;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #181818, #ABABAB);
}


.site-logo {
    float: left;
    margin: 0 1vw;    
    display: inline-block;
}

.site-logo img{
    width: 15vw;
    height: auto;
    
}

nav ul{
    float: right;
    color: white;
    margin: 3vh 4vw;
    font-weight: 600;
    font-size: 1.5vw;
}

nav li{
    display: inline-block;
    margin: 0 2vw;
}

nav li:hover{
    transform: scale(1.2);
}

nav li a:visited{
    color: inherit;
    text-decoration: inherit;
}
