body{
    font-family: Geneva, Tahoma, sans-serif;
    font-size: 20px;
    overflow-x: hidden;
    overflow-y: scroll;	   
}

.page{
    position:absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    background: #96C6F4;
}

.header{
    width: 100vw;
    height: auto;
}

.content{
    width: 100vw;
    height: auto;
    margin: 20% 0;  
}

.footer{
    width: 100vw;
    height: auto;
    margin: 0 0;
    border: 0 0;
    padding: 0 0;
}