.content{
    width: 80vw;
    height: auto;
    margin: auto;

}

.content h1{
    display: block;
    width: 100%;
    margin: 10% 0 0;
}

.image-area{
    float: left;
    margin: 0 0;
}

.image-area img{
    width: 20vw;
    height: auto;
}

.data-area{
    clear: left;
    line-height: 1em;
}


.large-area p{
    display: block;
    width: 50%
}

.large-area iframe{
    position: absolute;
    top: 20%;
    right: 10%;
    width: 45vw;
    height: 30vw;
    
}


