{% extends "base.html" %}

{% block header %}
{% include "navigation.html" %}
{% endblock %}

{% block content %}
<div>
    <div>Title</div>

    <!-- First row of profiles -->
    <div class="row">
        <!-- First bio -->
        <div class="col-lg-4 col-sm-6">
            <!-- bio picture -->
            <div></div>
            <!-- bio info -->
            <div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div></div>
            <div></div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- Second row of profiles -->
    <div class="row">
        <div class="col-sm-6">
            <div></div>
            <div></div>
        </div>
        <div class="col-sm-6">
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- Random data row -->
    <div class="row">
        <div class="col-lg-4 col-sm-6">

        </div>
        <div class="col-lg-4 col-sm-6">

        </div>
        <div class="col-lg-4 col-sm-6">

        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}


