{% extends "base.html" %}

{% block header %}
{% include "navigation.html" %}
{% endblock %}

{% block content %}
<h1> Albums </h1><br>

<table class="tablesorter">
  <thead>
    <tr>
      {% for key in tableTitles %}
      <th> {{ key }} </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for name in data %}
    <tr>
      {% for key in tableTitles %}
      {% if key == 'NAME' %}
      <td> <a alt={{ name[key] }} href="/{{'database/'+ ''.join(name[key].split()).lower() + '-album' }}"> {{ name[key] }} </a></td> 
      {% else %}
      <td> {{ name[key] }} </td>
      {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
<script src="{{ url_for('static', filename="JavaScript/tableConfig.js") }}"></script>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}

