<!DOCTYPE html>
  <html lang="en">
    <head>
      {% block head %}{% endblock %}
    </head>

    <body id="page-top">
      <div class='page'>
    	  {% block header %} {% endblock %}

    	<div class='content'>
    	  {% block content %} {% endblock %}
    	</div>

    	  {% block footer %} {% endblock %}
      </div>
      <!-- Bootstrap core JavaScript -->

      
      <!-- Enable below js will break table sort jquery 
	   <script src="../static/splash/jquery/jquery.min.js"></script> -->
      <script src="../static/splash/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- Plugin JavaScript -->
      <script src="../static/splash/jquery-easing/jquery.easing.min.js"></script>
      <!-- Contact form JavaScript -->
      <script src="../static/splash/js/jqBootstrapValidation.js"></script>
      <script src="../static/splash/js/contact_me.js"></script>
      <!-- Custom scripts for this template -->
      <script src="../static/splash/js/agency.js"></script>
     
    </body>
  </html>
  
