{% extends "base.html" %}

{% block header %}
{% include "navigation.html"%}
{% endblock %}

{% block content %}
<div class="image-area"><img id="album-cover" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Coldplay_Viva_La_Vida_Tour_in_Hannover_August_25th_2009.jpg/375px-Coldplay_Viva_La_Vida_Tour_in_Hannover_August_25th_2009.jpg" alt="Coldplay"></div>

<div class="data-area">
  <p class="data">Start Date: 1996</p>
  <p class="data"># of members: 4</p>
  <p class="data"># of albums: 7</p>
  <p class="data">From: London, England</p>
</div>

<div class="large-area">
  <p id="band-name">Coldplay</p>
  <p id="album-title">Featured Album: A Rush of Blood to the Head<!-- ADD LINK --></p>
  <p id="song-link">Featured Song: God Put a Smile upon Your Face<!-- ADD LINK --></p>
  <br>
  <!-- Might be cool to change the discography to pictures of the album covers arranged with bootstrap -->
  <h1>Discography</h1>
  <table class="list">
    <tr>
      <th>Album</th>
      <th>Year</th>
    </tr>
    <tr>
      <td>Parachutes</td>
      <td>2000</td>
    </tr>
    <tr>
      <td>A Rush of Blood to the Head</td>
      <td>2002</td>
    </tr>
    <tr>
      <td>X &amp; Y</td>
      <td>2005</td>
    </tr>
    <tr>
      <td>Viva la Vida or Death and All His Friends</td>
      <td>2008</td>
    </tr>
    <tr>
      <td>Mylo Xyloto</td>
      <td>2011</td>
    </tr>
    <tr>
      <td>Ghost Stories</td>
      <td>2014</td>
    </tr>
    <tr>
      <td>A Head Full of Dreams</td>
      <td>2015</td>
    </tr>
  </table>
</div>

{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}