{% extends "base.html" %}

{% block header %}
{% include "header.html"%}
{% endblock %}

{% block content %}
<div class="image-area"><img id="album-cover" src="https://upload.wikimedia.org/wikipedia/en/9/96/OneRepublic_-_Native.png" alt="Counting Stars"></div>

<div class="data-area">
  <p class="data">Released: 2013</p>
  <p class="data">Native</p>
  <p class="data">Pop</p>
  <p class="data">Duration 4:17</p>
</div>

<div class="large-area">
  <p id="song-title">Counting Stars</p>
  <p id="band-name">OneRepublic</p>
  <p id="lyrics-link"><a href="https://genius.com/Onerepublic-counting-stars-lyrics">Song Lyrics</a></p>
  <iframe width="560" height="315" src="https://www.youtube.com/watch?v=hT_nvWreIhg" frameborder="0" allowfullscreen></iframe>
</div>


{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}