<footer>
  <div class="footer-container">

    <div class="site-map">
      <p> Site Map </p>
      <ul>
	<li> <a href="/home"> home </a> </li>
	<li> <a href="/artists"> artists </a> </li>
	<li> <a href="/albums"> albums </a> </li>
	<li> <a href="/about"> about </a> </li>
      </ul>
    </div>
    
    <div class="contributors">
      <p> Contributors </p>
      <ul>
	<li> Juan Trejo </li>
	<li> Rachel Tarrant </li>
	<li> Chris Johnson </li>
	<li> Yu Lu </li>
	<li> Ruth Mendex </li>
      </ul>
    </div>

    <div class="site-info">
      <p> Development info </p>
      <ul>
	<li> Frontend: HTML5/CSS3 </li>
	<li> Backend: Python/Javascript </li>
      </ul>
    </div>
    
    <div class="source-code">
      <p> Source code </p>
      <ul>
	<li> <a href="https://github.com/jtrejo13/cs329e-idb"> <img src={{ url_for('static', filename="img/github-logo.png") }} alt="github"> </a>  </li>
      </ul>
    </div>
    
  </div>
</footer>



