{% extends "base.html" %}

{% block header %}
{% include "header.html"%}
{% endblock %}

{% block content %}
<div class="image-area"><img id="album-cover" src="https://upload.wikimedia.org/wikipedia/en/6/6e/Coldplay_-_A_Rush_of_Blood_to_the_Head.jpg" alt="God Put a Smile upon Your Face"></div>

<div class="data-area">
  <p class="data">Released: 2002</p>
  <p class="data">A Rush of Blood to the Head</p>
  <p class="data">Alternative Rock</p>
  <p class="data">Duration 4:57</p>
</div>

<div class="large-area">
  <p id="song-title">God Put a Smile upon Your Face</p>
  <p id="band-name">Coldplay</p>
  <p id="lyrics-link"><a href="https://genius.com/Coldplay-god-put-a-smile-upon-your-face-lyrics">Song Lyrics</a></p>
  <iframe width="560" height="315" src="https://youtu.be/qhIVgSoJVRc" frameborder="0" allowfullscreen></iframe>
</div>


{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}
