{% extends "base.html" %}

{% block head %}
{% include "head.html" %}
{% endblock %}

{% block header %}
{% include "navigation.html"%}
{% endblock %}

{% block content %}
<div class="image-area"><img id="album-cover" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b3/OneRepublic_performing_in_Toronto%2C_Canada%2C_Aug_2017.jpg/600px-OneRepublic_performing_in_Toronto%2C_Canada%2C_Aug_2017.jpg" alt="OneRepublic"></div>

<div class="data-area">
  <p class="data">Start Date: 2002</p>
  <p class="data"># of members: 5</p>
  <p class="data"># of albums: 4</p>
  <p class="data">From: Colorado, US</p>
</div>

<div class="large-area">
  <p id="band-name">OneRepublic</p>
  <p id="album-title">Featured Album: Native<!-- ADD LINK --></p>
  <p id="song-link">Featured Song: Counting Stars<!-- ADD LINK --></p>
  <br>
  <!-- Might be cool to change the discography to pictures of the album covers arranged with bootstrap -->
  <h1>Discography</h1>
  <table class="list">
    <tr>
      <th>Album</th>
      <th>Year</th>
    </tr>
    <tr>
      <td>Dreaming Out Loud</td>
      <td>2007</td>
    </tr>
    <tr>
      <td>Waking Up</td>
      <td>2009</td>
    </tr>
    <tr>
      <td>Native</td>
      <td>2013</td>
    </tr>
    <tr>
      <td>Oh My My</td>
      <td>2016</td>
    </tr>
  </table>
</div>

{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}
