{% extends "base.html" %}

{% block header %}
{% include "header.html"%}
{% endblock %}

{% block content %}
<div class="image-area"><img id="album-cover" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/RaffiSpeaking.jpg/330px-RaffiSpeaking.jpg" alt="Raffi"></div>

<div class="data-area">
  <p class="data">Start Date: 1974</p>
  <p class="data"># of members: 1</p>
  <p class="data"># of albums: 31</p>
  <p class="data">From: Toronto, Ontario</p>
</div>

<div class="large-area">
  <p id="band-name">Raffi</p>
  <p id="album-title">Featured Album: Bananaphone<!-- ADD LINK --></p>
  <p id="song-link">Featured Song: Bananaphone<!-- ADD LINK --></p>
  <br>
  <!-- Might be cool to change the discography to pictures of the album covers arranged with bootstrap -->
  <h1>Discography</h1>
  <table class="list">
    <tr>
      <th>Album</th>
      <th>Year</th>
    </tr>
    <tr>
      <td>Good Luck Boy</td>
      <td>1975</td>
    </tr>
    <tr>
      <td>Singable Songs for the Very Young</td>
      <td>1976</td>
    </tr>
    <tr>
      <td>Adult Entertainment</td>
      <td>1977</td>
    </tr>
    <tr>
      <td>More Singable Songs</td>
      <td>1977</td>
    </tr>
    <tr>
      <td>The Corner Grocery Store</td>
      <td>1979</td>
    </tr>
    <tr>
      <td>Baby Beluga</td>
      <td>1980</td>
    </tr>
    <tr>
      <td>Rise and Shine</td>
      <td>1982</td>
    </tr>
    <tr>
      <td>Raffi's Christmas Album</td>
      <td>1983</td>
    </tr>
    <tr>
      <td>One Light, One Sun</td>
      <td>1985</td>
    </tr>
    <tr>
      <td>Everything Grows</td>
      <td>1987</td>
    </tr>
    <tr>
      <td>Raffi in Concert with the Rise and Shine Band</td>
      <td>1989</td>
    </tr>
    <tr>
      <td>Evergreen Everblue</td>
      <td>1990</td>
    </tr>
    <tr>
      <td>Raffi on Broadway</td>
      <td>1993</td>
    </tr>
    <tr>
      <td>Bananaphone</td>
      <td>1993</td>
    </tr>
    <tr>
      <td>Raffi Radio</td>
      <td>1995</td>
    </tr>
    <tr>
      <td>The Singable Songs Collection</td>
      <td>1996</td>
    </tr>
    <tr>
      <td>Raffi's Box of Sunshine</td>
      <td>2000</td>
    </tr>
    <tr>
      <td>Country Goes Raffi</td>
      <td>2001</td>
    </tr>
    <tr>
      <td>Let's Play</td>
      <td>2002</td>
    </tr>
    <tr>
      <td>Where We All Belong</td>
      <td>2003</td>
    </tr>
    <tr>
      <td>Song for the Dalai Lama</td>
      <td>2004</td>
    </tr>
    <tr>
      <td>Quiet Time</td>
      <td>2006</td>
    </tr>
    <tr>
      <td>Resisto Dancing – Songs of Compassionate Revolution</td>
      <td>2000</td>
    </tr>
    <tr>
      <td>Animal Songs</td>
      <td>2008</td>
    </tr>
    <tr>
      <td>Songs of Our World</td>
      <td>2008</td>
    </tr>
    <tr>
      <td>Communion</td>
      <td>2009</td>
    </tr>
    <tr>
      <td>On Hockey Days</td>
      <td>2012</td>
    </tr>
    <tr>
      <td>Fun Food Songs</td>
      <td>2013</td>
    </tr>
    <tr>
      <td>Love Bug</td>
      <td>2014</td>
    </tr>
    <tr>
      <td>Owl Singalong</td>
      <td>2016</td>
    </tr>
    <tr>
      <td>Best of Raffi</td>
      <td>2017</td>
    </tr>
  </table>
</div>

{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}