{% extends "base.html" %}

{% block header %}
{% include "navigation.html"%}
{% endblock %}

{% block content %}
<h1> Songs </h1>
<hr>
<table class="table">
  <tr>
    {% for key in tableTitles %}
    <th> {{ key }} </th>
    {% endfor %}
  </tr>
  
  {% for song in data %}
  <tr>
    {% for key in tableTitles %}
    {% if key == "VIDEO_LINK" %}
    <td>
      <div class = "video-icon">
	<a href={{ song[key] }} target="_blank"> <img src={{ url_for('static', filename = "img/icon-youtube.png") }} alt="watch on youtube" height="30"> </a>
      </div>
    </td>
    {% elif key == "LYRICS_LINK" %}
    <td>
      <div class = "lyrics-icon">
	<a href={{ song[key] }} target="_blank"> <img src={{ url_for('static', filename = "img/icon-genius.png") }} alt="lyrics on genius" height="30"></a>
      </div>
    </td>
      {% else %} 
      <td> {{ song[key] }} </td>
    {% endif %}
    {% endfor %}
  </tr>
  {% endfor %}
</table>

<h2> Chris and Rachel are working on individual subpages </h2>
<h2> Yu will work on general CSS and header footer etc. </h2>
{% endblock %}



{% block footer %}
{% include "footer.html" %}
{% endblock %}

