{% extends "base.html" %}

{% block header %}
{% include "header.html"%}
{% endblock %}

{% block content %}
<hr>
<p> Put <strong> list of songs </strong>  here with links to artists and alblums </p>

<table class="table">
  <tr>
    {% for key in tableTitles %}
    <th> {{ key }} </th>
    {% endfor %}
  </tr>
  
  {% for song in data %}
  <tr>
    {% for key in tableTitles %}
    
    <td> {{ song[key] }} </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

    
{% endblock %}



{% block footer %}
{% include "footer.html" %}
{% endblock %}

